@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap");
body {
  font-family: "Muli", sans-serif;
  color: #0e1215;
}

.mainWrapper {
  height: 100vh;
  overflow: scroll;
}
.mainWrapper::-webkit-scrollbar {
  display: none;
}

.heading-style {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.skillsSection {
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(202, 183, 171, 0.1);
}
.skillsSection .skills-flex {
  justify-content: space-evenly;
  font-size: 20px;
}
.skillsSection .skills-flex .skill-card {
  box-shadow: 4px 4px 5px rgba(239, 229, 229, 0.8), -2px -2px 5px rgba(239, 229, 229, 0.8);
  padding: 12px 17px;
  border-radius: 10px;
}
.skillsSection .skills-flex .fab {
  font-size: 30px;
  vertical-align: bottom;
}
.skillsSection .skills-flex .fa-html5 {
  color: #e34f26;
}
.skillsSection .skills-flex .fa-css3-alt {
  color: #264de4;
}
.skillsSection .skills-flex .fa-js-square {
  color: #f7df1e;
}
.skillsSection .skills-flex .fa-sass {
  color: #c69;
}
.skillsSection .skills-flex .fa-bootstrap {
  color: #553c7b;
}
.skillsSection .skills-flex .fa-react {
  color: #61dbfb;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}
.navbar a {
  color: black;
}
.navbar .navbar-brand {
  font-size: 26px;
  font-weight: 500;
}
.navbar .nav-item {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
}
.navbar .nav-item a {
  color: #28756a;
}
.navbar .nav-item a:hover {
  color: #1e5850;
}

.heroSection {
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
}
@keyframes beating {
  from {
    font-size: 50px;
  }
  to {
    font-size: 66px;
  }
}
.heroSection h1 {
  color: #310607;
  font-size: 66px;
}
.heroSection h1 .fa-heart {
  color: #e63c3e;
  opacity: 0.9;
  width: 70px;
}

.aboutSection {
  height: 100vh;
  display: flex;
  align-items: center;
}
.aboutSection .profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.aboutSection .bio {
  font-size: 20px;
  font-weight: 400;
  color: #0e1215;
}

.projectsSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.projectsSection .projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.projectsSection .project-card {
  margin: 0 30px 20px;
}
.projectsSection .project-card img {
  width: 250px;
  object-fit: cover;
}
.projectsSection .project-card .title {
  color: #000000;
  font-size: 23px;
  font-weight: 700;
}
.projectsSection .project-card .desc {
  font-size: 18px;
  color: #444;
}
.projectsSection .project-card hr {
  display: none;
  width: 100px;
  height: 3px;
  background-color: #d44a1e;
  margin-left: 0;
  margin-top: 5px;
}

.contactSection {
  padding: 40px 0;
  border-bottom: 5px solid #1e5850;
}
.contactSection .text {
  font-size: 20px;
  text-align: center;
}
.contactSection .social-icon {
  margin: 0 10px;
  font-size: 22px;
  color: #1e5850;
}
.contactSection .link {
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.contactSection .link .username {
  color: #1e5850;
  font-size: 18px;
  font-weight: 600;
}

/*# sourceMappingURL=app.css.map */
