@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
$scarlet: #d44a1e;
$blue: #068a9c;
$wine: #770f10;
$brown: #83552d;
$dust: #cab7ab;
$text-dark: #310607;
$heart-red: #e63c3e;

body {
  font-family: 'Rubik', sans-serif;
}

.mainWrapper {
  
  // navigation bar
  .navbar {
    padding-left: 0;
    padding-right: 0;
    
    a {
      color: black;
    }
    
    .navbar-brand {
      font-size: 26px;
      font-weight: 500;
    }
    
    .nav-item {
      font-size: 20px;
      margin-left: 10px;
      font-weight: 500;
      
      a {
        color: $scarlet;
        
        &:hover {
          color: $wine;
        }
      }
    }
  }
  
  // hero section
  .heroSection {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    
    @keyframes beating {
      from {font-size: 50px;}
      to {font-size: 66px;}
    }
    
    h1 {
      color: $text-dark;
      font-size: 66px;
      
      .fa-heart {
        color: $heart-red;
        opacity: 0.9;
        width: 70px;
        // animation: beating 1s infinite alternate;
      }
    }
  }
  
  //  about section
  .aboutSection {
    height: 100vh;
    background: rgba($dust, 0.1);
    display: flex;
    align-items: center;
    
    .bio {
      font-size: 24px;
      font-weight: 300;
    }
  }

  // projects section
  .projectsSection {
    height: 100vh;
    display: flex;
    align-items: center;

    .projects-grid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }

    .project-card {
      margin: 0 30px 20px;
      
      .title {
        color: $text-dark;
        font-size: 22px;
      }

      hr {
        width: 100px;
        height: 3px;
        background-color: $scarlet;
        margin-left: 0;
        margin-top: 5px;
      }

      .desc {
        // font-size: ;
        color: $text-dark;
      }
    }
  }
  
  // skills section
  .skillsSection {
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgba($dust, 0.1);
    
    .skills-flex {
      justify-content: space-evenly;
      font-size: 20px;
      
      .skill-card {
        box-shadow: 4px 4px 5px rgba(#efe5e5, 0.8), -2px -2px 5px rgba(#efe5e5, 0.8);
        padding: 12px 17px;
        border-radius: 10px;
      }
      
      .fab {
        font-size: 30px;
        vertical-align: bottom;
      }
      
      .fa-html5 {
        color: #e34f26;
      }
      
      .fa-css3-alt {
        color: #264de4;
      }
      
      .fa-js-square {
        color: #f7df1e;
      }
      
      .fa-sass {
        color: #c69;
      }
      
      .fa-bootstrap {
        color: #553c7b;
      }
      
      .fa-react {
        color: #61dbfb;
      }
    }
  }
  // contact section
  .contactSection {
    background: $wine;
    color: white;
    padding: 40px 0;
    border-bottom: 5px solid $scarlet;
    
    .text {
      font-size: 20px;
      text-align: center;
    }
    
    .social-icon {
      margin: 0 10px;
      font-size: 30px;
      color: $dust;
    }
  }
}

// global styles
.heading-style {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.link-wrapper {
  position: relative;
  display: inline-block;

  .link-text {
    margin-bottom: 0;
    transition: all 0.2s ease;
  }

  .link-highlight {
    background-color: rgba($heart-red, 0.3);
    height: 5px;
    position: absolute;
    width: 100%;
    bottom: 5px;
    transition: all 0.2s ease;
  }

  &:hover {
    .link-text {
      color: white;
    }

    .link-highlight {
      height: 20px;
      background-color: rgba($heart-red, 0.8);
    }
  }
}