//  about section
.aboutSection {
  height: 100vh;
  display: flex;
  align-items: center;

  .profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }

  .bio {
    font-size: 20px;
    font-weight: 400;
    color: #0e1215;
  }
}
